.list {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  width: 500px;
}
.listitem {
}
@media screen and (max-width: 768px) {
  .list {
    width: 300px;
  }
}
